body {
  background-image: url('image.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; 
  font-size: 46px;
  color: white;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px #dc7932;
}
