<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='style/myhome.css')}}">
  </head>
  <body>
    <main>
      <h2 style="color: black; font-family: cursive; font-weight: 800; font-size: 36px; padding: 10px; border-radius: 5px;">
        CROP RECOMMENDATION USING WEATHER AND SOIL CONTENT
    </h2>    
    </main>
     <form action="/Predict">
      <input type="submit" id="Predict" name="Predict" action="/Predict" value="Predict">
     </form>
  </body>
</html>
